.home-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  gap: 20px;

  @media (max-width: 500px) {
    padding: 0;
  }
}

a {
  color: #5090ff;
}

code {
  color: #5090ff;
  font-weight: 900;
  font-size: large;
}

h2 {
  grid-area: header;
  text-align: center;
}

p {
  font-weight: 400;
}

strong {
  font-weight: 780;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  max-width: 100%;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 100%;
    justify-content: space-evenly;
  }
}

.grouped-editors {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    justify-content: space-evenly;
  }
}

.text-center {
  text-align: center;
}

.writingSection {
  min-width: 200px;
  max-width: 80%;
  height: fit-content;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 20px;

  @media (max-width: 1024px) {
    max-width: 100%;
  }

}

.two-col .writingSection {
  flex: 1;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}
