#root {
  margin: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;

  @media (max-width: 768px) {
    gap: 30px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
}

.header img {
  width: 100px;
  height: 100px;
}

.header .main-title {
  @media (max-width: 893px) {
    width: 400px;
  }

  @media (max-width: 500px) {
    font-size: 3rem;
  }

  @media (max-width: 390px) {
    font-size: 2.5rem;
  }
}

.footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #aaaa;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  font-size: 0.85em;
  margin-bottom: 0;
}

.footer p {
  padding: 0 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  max-width: 80%;
  border: 1px solid #aaaa;
  border-radius: 10px;
  overflow-y: scroll;

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.page {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #aaaa;
  border-radius: 10px;

  @media (max-width: 500px) {
    border: none;
  }

  @media (max-width: 1300px) {
    max-width: 100%;
  }
}

.nav-button {
  border-radius: 8px;
  padding: 10px;
  /* background-color: #003500; */
  background-color: #404080;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  margin: 0.5rem;
  width: fit-content;
  white-space: nowrap;
}

.nav-button.pending {
  /* background-color: green; */
  background-color: #4080ff;
  color: white;
}

.nav-button:hover {
  /* background-color: green; */
  background-color: #4080ff;
  color: white;
}

.nav-button.active {
  /* background-color: green; */
  background-color: #4080ff;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  margin: 0;
}

/* .decorated {
  background-image: url("/div-decorator.svg");
} */
